<!DOCTYPE html>
<html>
  <head>
    <title>Kebabu3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <header>
      <h1 class="title">
        <%= link_to "ケバブマップ", root_path, class: "header__title--text"%>
      </h1>
    </header>
        <%= yield %>
  </body>
</html>
